.linha{
    display: flex;
    margin: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

output{
    font-weight: bold;
}

.gender{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}